@model IEnumerable<TMDT_BanKhoaHoc.Models.MONHOC>
@{ 
    Layout = null;
}

@if (Model != null)
{
    foreach (var item in Model)
    {
        <li class="12">
            <a href="@Url.Action(controllerName: "NguoiDung", actionName: "KhoaHocTheoMonHoc", routeValues: new { monhoc = item.MaMH })">
                @item.TenMH
            </a>
        </li>
    }
}