@model Boolean
@{
    ViewBag.Title = "Kết thúc thanh toán";
}

<div class="col-md-12">

    @if (Model)
    {
        <p style="font-size: large;">Thanh toán thành công</p>
    } else
    {
        <p style="font-size: large;">Thanh toán thất bại</p>
    }
</div>