@model String
@{
    ViewBag.Title = "Thanh toán";
}

<h2>@ViewBag.Title</h2>
<div class="col-md-12">
    @if (Model != null)
    {
        if (Model == "Success")
        {
            <p style="font-size: large">
                Thanh toán thành công
            </p>
        }
        else
        {
            <p style="font-size: large">
                Thanh toán thất bại
            </p>
        }
    </div>
}
else
{
    <p style="font-size: large">
        Giỏ hàng của bạn rỗng. Không thể thanh toán
    </p>
}
