@model IEnumerable<TMDT_BanKhoaHoc.Models.KHOAHOC>

@{
    ViewBag.Title = "Trang chủ";
}

<div class="listview">
    @if (Model != null)
    {
        <ul>
            @foreach (var khoahoc in Model)
            {
                <li class="listitem clearfix">
                    <a class="title" href="">
                        @khoahoc.TenKH
                    </a>
                    <a class="thumb" href="">
                        <img src="~/img/@khoahoc.Anhbia" alt="@khoahoc.TenKH" />
                    </a>
                    <div class="desc">@khoahoc.Mota.Substring(0, 150)...</div>
                </li>
            }
        </ul>
    } else
    {
        <p style="font-size: large;">
            Không có khóa học nào
        </p>
    }
</div>